services:
  grafana:
    image: grafana/grafana:12.1.0
    depends_on:
      - prometheus
    volumes:
      - ./data/grafana:/var/lib/grafana
      - ./config/grafana/provisioning:/etc/grafana/provisioning
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    restart: always
  prometheus:
    image: quay.io/prometheus/prometheus:v3.7.3
    volumes:
      - ./config/prometheus.yml:/config/prometheus.yml
      - ./config/rules/:/config/rules/
    command: "--config.file=/config/prometheus.yml --storage.tsdb.retention.time=1y"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    restart: always
  alertmanager:
    image: quay.io/prometheus/alertmanager:v0.29.0
    volumes:
      - ./config/alertmanager.yml:/config/alertmanager.yml
    command: "--config.file=/config/alertmanager.yml --log.level=debug"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    restart: always
  blackbox:
    image: quay.io/prometheus/blackbox-exporter:v0.27.0
    volumes:
      - ./config/blackbox.yml:/config/blackbox.yml
    command: "--config.file=/config/blackbox.yml"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    restart: always
  metrics:
    image: quay.io/prometheus/node-exporter:v1.10.2
    pid: "host"
    volumes:
      - /sys:/sys:ro
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    restart: always
